APScheduler==3.11.0
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorlog==6.9.0
coverage==7.8.0
cryptography==45.0.3
freezegun==1.5.1
h5py==3.13.0
hypothesis==6.140.2  # test-only
idna==3.10
numpy==2.2.5
pandas==2.2.3
pvlib==0.12.0
pycparser==2.22
PyJWT==2.10.1
pytest==9.1.1  # test-only
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.32.3
scipy==1.15.2
sdnotify==0.3.2
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
